@charset:"utf-8";

html
{
}

body
{
	font-family:DioDictFnt3;
	margin:0px;
	padding-top:#marginTop#;
	padding-bottom:#marginTop#;
	padding-left:#marginLeft#;
	padding-right:#marginRight#;
	border:0;
	color:#default#;
	background-color: #background#;
	word-wrap:break-word;
}

div, span
{
	margin:0;
	padding:0;
}

.small-caps
{
	font-variant:small-caps;
}

.underline
{
	text-decoration:underline;
}

.topline
{
	text-decoration:topline;
}

.bold
{
	font-weight:bold;
}

.italic
{
	font-style:italic;
	color:#italic#;
}

.line-through
{
	text-decoration:line-through;
}

.superscript, .subscript
{
	font-size:0.8em;
}

.superscript
{
	vertical-align:super;
}

.subscript
{
	vertical-align:sub;
}

div.keyfield
{
	color:#keyfield#;
	line-height: 1.2;
}

div.meanfield
{
	clear:both;
}

div.pure
{
	color:#pure#;
	margin:1px;
	line-height: 1.3;
}

div.example
{
	color:#example#;
	line-height:1.2;
	margin-left:4px;
	margin-right:2px;
}

div.idiom
{
	color:#idiom#;
	background-color:#idiom_bg#;
	margin: 4px 0;
	padding:2px 4px 6px 4px;
	border:1px solid #idiom_border#;
	line-height:1.2;
}

/*Tip/Note boxstyle*/ 
div.note
{
	color:#ffffff;
	background-color:#note#;
	width:30%;
	margin:4px 2px 4px 1px;
	border:1px solid;
	line-height:1.2;
	font-weight:bold;
}

div.originate
{
	color:#originate#;
	line-height:1.2;
}

div.predefine
{
	color:#default#;
	line-height:1.2;
}

div.chinese-char-info
{
	color:#default#;
	line-height:1.2;
}

div.add-info, span.technical
{
	color:#default#;
	line-height:1.2;
}

div.submeaning
{
	color:#submeaning#;
	margin: 6px 0;
	padding:0 2px 4px 4px;
	border:1px solid rgb(226,223,210);
	line-height:1.2;
}

span.keyword
{
	font-size:1.4em;
	color:#keyword#;
	word-break:break-all;
}

span.keyword span.bold, span.keyword span.italic, span.keyword span.underline, span.keyword span.topline, span.alternative
{
	color:#keyword#;
}

span.freq
{
	font-size:1.4em;
	color:#9c918a;
}

span.pron
{
	font-size:1.05em;
	color:#32c5bb;
	margin:4px 0;
}

span.pron span.bold, span.pron span.italic, span.pron span.underline, span.pron span.topline
{
	color:#32c5bb;
}

span.part
{
	color:#part#;
	font-weight:bold;
}

span.category1
{
	color:#category1#;
	font-weight:bold;
	font-size: 110%;
	margin: 4px 0 0 0;
	padding:2px;
	line-height: 1.2;	
}

span.emphasis
{
	color:#emphasis#;
}

img#addButton
{
	float:right;
	opacity:0;
}

input#tts
{
	vertical-align:-25%;
}

input#tts:disabled
{
	opacity:1.0;
}

table
{
	margin:0.5em;
	border:thin solid;
	border-collapse:collapse;
}

th, td
{
	border:thin solid;
	padding:0.15em;
	word-break:break-all;
}

th
{
	background-color:#e6e6e6;
}
/*
.word_ref
{
	color:blue;
	text-decoration:underline;
}

.highlight0
{
	background:url(pen_yellow.png);
	box-sizing: border-box;
	width: 6em;
	height: 3em;
	border-radius: 0.5em 1em 0.5em 0em
}

.highlight1
{
	background:url(pen_pink.png);
	box-sizing: border-box;
	width: 6em;
	height: 3em;
	border-radius: 0.5em 1em 0.5em 0em
}

.highlight2
{
	background:url(pen_green.png);
	box-sizing: border-box;
	width: 6em;
	height: 2em;
	border-radius: 0.5em 1em 0.5em 0em
}

.highlight3
{
	background:url(pen_blue.png);
	box-sizing: border-box;
	width: 6em;
	height: 2em;
	border-radius: 0.5em 1em 0.5em 0em
}

.highlight4
{
	background:url(pen_violet.png);
	box-sizing: border-box;
	width: 6em;
	height: 2em;
	border-radius: 0.5em 1em 0.5em 0em
}
*/