@charset "utf-8";
html{-webkit-tap-highlight: rgba(0,0,0,0);}
* {margin: 0;padding: 0;border: 0; font-family: Helvetica;font-size: 14pt;-webkit-text-size-adjust: none;text-decoration: none;}
body {background: #fff;}
/*.bottombar {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ACB2B8', endColorstr='#8C969C');}*/
/*a {-webkit-tap-highlight-color:transparent; text-decoration:underline;}
a:visited {color: #7da7c2; outline:none;}
a:link {color: #7da7c2; outline:none;}*/
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
h1 {font-size: 28px;color: #7da7c2;margin: 10px 0;}
.real-con {width: 100%;}
#scrollmask {z-index: 900;float:left;overflow:hidden;height:50px;margin-top: -4px;padding:4px;}
#chapter {float:left;left:0;white-space: nowrap;margin:0;font-size: 13.5pt;color: #deecf5;overflow:hidden;}
h2 {font-size: 120%; margin: 10px 0 10px 0;padding: 0 0 0 0px;   background-position: 0 6px;background-repeat: no-repeat; }
p {margin: 8px 0 4px 0;line-height: 1.3em;}
img { vertical-align: middle; }
#marq {width: 154px;}

#top {
	z-index: 900;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 45px;	
	background-repeat: repeat-x;
	padding-left: 10px;
	padding-top: 5px;
	background-color:#364756;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E677B', endColorstr='#364756');
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4E677B), color-stop(1, #364756));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #4E677B 0%, #364756 100%); }

#toolbar {
	z-index: 999;
	position: fixed;
	/*position: absolute;*/
	top: 0px;
	right: 0px;
	width: 44px;
	height: 50px;
	padding: 0;
	padding-right: 15px;
	padding-top: 5px;
	background-color:#364756;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E677B', endColorstr='#364756');
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4E677B), color-stop(1, #364756));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #4E677B 0%, #364756 100%);}
	
#backgroundtop {
	z-index: 899;
	position: fixed;
	/*position: absolute;*/
	top: 0px;
	right: 0px;
	width: 100%;
	height: 50px;
	padding: 0;
	padding-right: 15px;
	padding-top: 5px;
	background-color:#364756;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E677B', endColorstr='#364756');
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4E677B), color-stop(1, #364756));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #4E677B 0%, #364756 100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #4E677B 0%, #364756 100%);}
	
#toolbar span { visibility: visible; display: block; }
#toolbar img { height: 26px; }
#toolbar span#here { display: none; }
#toolbar > span > a { display: block; }
#toolbar > span > a > img { position: absolute; 	padding: 4px; 	top: 6px; visibility: visible;}
#toolbar > span#home > a > img {top: 9px; right: 30px; height: 28px; width:28px;}
#toolbar img#toolsep2 { position: absolute;top: 14px;	right: 82px; }
#toolbar img#toolsep1 {position: absolute;top: 14px; right:38px; }
#toolbar > span#home {width: 34px;}


#gototop {
	display: block; 
	padding: 10px 0;
	background: #000;
	border-top: 1px solid #404040;
	font-size: 16pt;
	color: #b3b3b3;
	text-align: center;
	text-decoration:none;}
#gototop img {
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 4px; 
	width: 18px; }

/* Integrated manual - add */
.Description {margin:14px 0 14px 0; line-height:140%;}
.Description-Semi {margin:18px 0 14px 0; font-size:20px;}
.Description-UpSp { margin:30px 0 10px 0;}
.Description-Center-Cell { word-break: break-all; text-align: center;}
.Description-Cell {word-wrap: break-word;}
.Description-Cell-Left {word-wrap: break-word; text-align: left; margin:5px;}
.C_Important { font-size:22px;}
.Description-Safety_1 {margin:10px 4px 10px 15px; line-height:140%;}

.C_Image {height: 18px; margin-bottom: 2px;}
.Iword { font-weight:bold;}
.Iword-NoBold { font-weight:normal;}

.C_Superscript-R-TM {font-size:11px;vertical-align:super;}
.Cell_Note_L, .Note-col1, .Note .c2-col1, .Table_Warning .c2-col1 {width:40px;padding-bottom:10px;}	

.Center_Icon img{width:30px;}

div.heading1 {margin-top: 0px; z-index: 800;padding: 25px 10px;background: #fff;min-height: 492px;color: #000;}
.C_CircleNumber img {vertical-align:middle; height:18px; width:auto; padding-bottom:4px;}
span.MMI { font-weight:bold; }

@media all and (min-width : 269px) and (orientation : portrait) {/*확대 세로*/
	.Note_Bulleted p {
		max-width: 315px; }
	div.heading1 {
		min-height: 380px; }
	#scrollmask {
		width: 112px; }
	img[src*="M-divx_hd.png"] {
		width: 100px; }
	/*img[src*="S-"] {
		width: 220px !important; }*/
}
@media all and (min-width : 359px) and (orientation : portrait) {/* 보통 세로*/
	.Note_Bulleted p {
		max-width: 315px; }
	div.heading1 {
		min-height: 534px; }
	#scrollmask {
		width: 200px; }
}
@media all and (min-width : 479px) and (orientation : landscape) {/* 확대 가로*/
	#scrollmask {
		width: 315px; }
	img[src*="M-divx_hd.png"] {
		width: 150px; }
	div.heading1 {
		min-height: 254px; }
}
@media all and (min-width : 539px) and (orientation : portrait) {/* 축소 세로*/
	.Note_Bulleted p {
		max-width: 515px; }
	div.heading1 {
		min-height: 842px; }
	#scrollmask {
		width: 372px; }
}
@media all and (min-width : 639px) and (orientation : landscape) {/* 보통 가로*/
	#scrollmask {
		width: 480px; }
	div.heading1 {
		min-height: 254px; }
}
@media all and (min-width : 959px) and (orientation : landscape) {/* 축소 가로*/
	#scrollmask {
		width: 796px; }
	div.heading1 {
		min-height: 422px; }
}

/*
여기부터는 추가된 CSS
*/
.Left_Image img {
	width: 90%;
}
.Cell_Motion_R {
	display:block;
	width:100%;
	padding:20px 0 40px 0;
}
.Cell_Motion_R .Left_Image {
	text-align:center;
}
.Cell_Motion_R .Left_Image img {
	width:auto;
}
.Safety_Body {
	padding-top:8px;
}

.C_Superscript {
	font-size:11px;
	vertical-align:super;
}
.Cell_Number {
	text-align:center;
}
.Cell_Number img {
	height:20px;
	width: auto;
}
.Cell_Motion_L {
	display:block;
	width:100%;
}

/*********************************** 굵은 글씨 ************************************************/
.C_Important-Semi { font-weight:bold;}
.numbered img{width: auto; height: 24px;}
/*********************************** 노트 이미지 ************************************************/
.Note_Image img {
	width: 70%;
}

/*********************************** 타이틀 관련 CSS ************************************************/
.Heading1 .Iword-NoBold, .Heading1 .C_NoBreak{ font-size: 28px;}
.heading1 h1.Heading1,.Heading1-Safety-Warning, .Heading1-Safety { font-weight:bold;}
.Heading2, .Heading2-Safety  {margin: 30px 0 10px 0; font-size:24px;background-image: url('../images/greater.png'); background-position: 0 4px;background-repeat: no-repeat;padding: 0 0 0 18px;  }
.Heading2 .Iword-NoBold, .Heading2 .C_NoBreak{ font-size: 24px;}
.Heading3 { font-size:22px; margin:30px 0 18px 0; font-weight:bold;}
.Heading4 { font-size:20px; margin:30px 0 18px 0;}

/*********************************** RTL 타이틀 관련 CSS ************************************************/
.Heading2_RTL, .Heading2-Safety_RTL  {margin: 30px 0 10px 0; font-size:24px;background-image: url('../images/greater_rtl.png'); background-position: right 6px;background-repeat: no-repeat;  padding-right: 22px;}

/*********************************** Safety 관련 특수 CSS ************************************************/
.Safety_Bulleted_Hypen {margin-left: 12px;}
h2.Safety_Heading2 {font-size:20px;font-weight:bold;background:none;}
h2.Safety_Heading2 br {line-height:200%;}

.Safety_Body {padding-top:8px;}
.Safety_Bulleted p {margin-left:12px;text-indent: -10px;}
.Img-left img{width: 28px;max-width: 28px;}
.Img-left-Percent img{width: 100%;max-width: 100%;}
.Note_Image img {width: 28px;max-width: 28px;}

.CellBody {word-wrap: break-word;}
.CellBody_under {text-indent:-18px;margin-left:18px;word-wrap: break-word;}
.CellBody_Numbered p {margin-left:22px;text-indent: -18px;}
.Numbered_Indent {margin-left: 32px;}
.Numbered_Indent_RTL {margin-right: 32px;}
.Center_Text{text-align:center;}
.Cell-Left-Percent {width:70%;word-break:all-break;}

.margin{margin:10px;}
.margin_short{margin:10px;}
.margin_middle{margin:15px;}
.margin_long{margin:41px;}

/*********************************** 숫자 밑 들여쓰기 ************************************************/
.Numbered_Bullet {margin-left: 24px;}
.Numbered_Bullet p {margin-left:18px;text-indent: -10px;}
.Numbered_Bullet_Child {margin-left: 24px;}
.Numbered_Bullet_Child p {margin-left:14px;}

/*********************************** RTL 숫자 밑 들여쓰기 ************************************************/
.Numbered_Bullet_RTL {margin-right: 24px;}
.Numbered_Bullet_RTL p {margin-right:18px;text-indent: -10px;}

/*********************************** 꼬리 주석관련 CSS ************************************************/
.footnotes {border-top:1px #666 solid;padding:10px;color:#CCC;}
.Footnote_Line, .Footnote {font-size:12px;margin-left:18px;text-indent: -14px;}
.footnotes p {color:#CCC;font-size:14px;margin-left:18px;text-indent: -14px;}

/*********************************** RTL 꼬리 주석관련 CSS ************************************************/
.Footnote_Line_RTL, .Footnote_RTL {font-size:12px;margin-right:18px;text-indent: -14px;}
.footnotes_RTL p {color:#CCC;font-size:14px;margin-right:18px;text-indent: -14px;}

/*********************************** 들여쓰기 관련 CSS ************************************************/
.UnorderList_1-Cell {margin-top:-8px;}
.UnorderList_1-Cell-Start {margin-top:14px;}
.UnorderList_1-Cell p {margin-left:18px;text-indent: -10px;word-break: break-word;}
.UnorderList_1-Cell-OX p {margin-left:25px;text-indent: -23px;word-break: break-word;}
.UnorderList_1-Cell-Child p {margin-left:18px;}
.UnorderList_1_2 {margin-left:22px;}
.UnorderList_1_2 p {margin-left:22px;text-indent: -10px;}
.UnorderList_1 p, .UnorderList_1-Safety p {margin-left:18px;text-indent: -10px;}
.UnorderList_1 p a, .UnorderList_1-Safety p a {display:inline;}
.UnorderList_2 p, .UnorderList_2-Safety p {margin-left:28px;text-indent: -10px;}
.UnorderList_2_0 p {margin-left:28px;text-indent: -2px;}
.UnorderList_2_1 p {margin-left:28px;text-indent: -15px;}
.UnorderList_2-Child p {margin-left:28px}
.UnorderList_3 p {margin-left:38px;text-indent: -10px;}

/*********************************** RTL 들여쓰기 관련 CSS ************************************************/
.UnorderList_1-Cell_RTL {margin-top:-8px;}
.UnorderList_1-Cell-Start_RTL {margin-top:14px;}
.UnorderList_1-Cell_RTL p {	margin-right:18px;text-indent: -10px;word-break: break-word;}
.UnorderList_1-Cell-OX_RTL p {margin-right:25px;text-indent: -23px;word-break: break-word;}
.UnorderList_1-Cell-Child_RTL p {margin-right:18px;}
.UnorderList_1_2_RTL {margin-right:22px;}
.UnorderList_1_2_RTL p {margin-right:22px;text-indent: -10px;}
.UnorderList_1_RTL p {margin-right:18px;text-indent: -10px;}
.UnorderList_1_Child_RTL p {margin-right:38px;text-indent:-10px;}
.UnorderList_2_RTL p {margin-right:28px;text-indent: -10px;}
.UnorderList_2_Child_RTL p {margin-right:28px;text-indent: 0px;}
.UnorderList_3_RTL p {margin-right:38px;text-indent: -10px;}

/*********************************** 추가 스타일 이미지 위로 정렬 ************************************************/
td.img_top {vertical-align : top}

/*********************************** Table 기본 스타일 ************************************************/
table {width: 100%; margin: 18px 0 8px 0;}
td { vertical-align:middle; }
/*td img { width: 100%;}*/

/*********************************** Table_CallOut_Text 스타일 ************************************************/
.Table_CallOut_Text {width:100%; margin:16px 0 16px 0;}
.Table_CallOut_Text .Img-Center{text-align:center;}
.Table_CallOut_Text .Img-Center img{ width:330px; max-width:330px;}
.Table_CallOut_Text .Img-Center-Percent{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent img{ width:90%;}
.Table_CallOut_Text .Img-Center-Percent_100{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent_100 img{ width:100%;}
.Table_CallOut_Text .Img-Center-Percent_90{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent_90 img{ width:90%;}
.Table_CallOut_Text .Img-Center-Percent_70{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent_70 img{ width:70%;}
.Table_CallOut_Text .Img-Center-Percent_60{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent_60 img{ width:60%;}
.Table_CallOut_Text .Img-Center-Percent_40{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent_40 img{ width:40%;}
.Table_CallOut_Text .Img-Center-Percent_45{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent_45 img{ width:45%;}

.Table_CallOut_Text .Img-Center-Percent_gif{text-align:center;}
.Table_CallOut_Text .Img-Center-Percent_gif img{ width:300px;}
.Table_CallOut_Text .Img-Left{text-align:left;}
.Table_CallOut_Text .Img-Left img{ width:95%;}
.Table_CallOut_Text .Img-left-p{text-align:left;}
.Table_CallOut_Text .Img-left-p img{ width:30%;height:auto;}

/*********************************** Table_Motion 스타일 ************************************************/
table.Table_Motion {width:100%;}
table.Table_Motion .Img-Center {text-align:center;}
table.Table_Motion .Img-Center img {max-height:240px; max-width:240px;}
table.Table_Motion .Img-Center-Percent{text-align:center;}
table.Table_Motion .Img-Center-Percent img{ width:100%; max-width:100%;}
table.Table_Motion .Img-Center-Percent_100{text-align:center;}
table.Table_Motion .Img-Center-Percent_100 img{ width:100%; max-width:100%;}
table.Table_Motion .c2-col1 {width:40%;}
table.Table_Motion .c2-col2 {width:60%;}
table.Table_Motion .c2-col1_italian {width:20%;}
table.Table_Motion .c2-col2_italian {width:80%;}

/*********************************** Table_Note 스타일 ************************************************/
.Table_Note, .Table_Warning {width:100%;background-color:#c5c5c5;}
.Table_Note_1 {border-top: 4px solid #c5c5c5;border-bottom: 4px solid #c5c5c5; border-bottom: 4px solid #c5c5c5; width:100%;}
.Table_Note td, .Table_Warning td {padding: 4px 0 0 4px;vertical-align: top;}
/*.Table_Note td img { width:auto}*/
.Table_Note td .C_Image_Note, .Table_Warning td .Img-Left img{width: 28px;max-width: 28px;}
.Table_Note td .C_Image{height: 18px; margin-bottom: 2px;width:auto;}

/*********************************** Table_Trademark 스타일 ************************************************/
.Table_Trademark {width:100%;table-layout:fixed;}

/*********************************** Table_H_K 스타일 ************************************************/
table.Table_H_K {width:100%;border-top:3px   #ADAAAD solid;border-bottom:3px #ADAAAD solid;border-collapse:collapse;table-layout:fixed;}
table.Table_H_K td {border-bottom:1px #ADAAAD inset;padding:4px;}
table.Table_H_K .c2-col1 {width:30%;}
table.Table_H_K td .C_Image{height: 18px; margin-bottom: 2px;width:auto;}

table.Table_H_K .Table_Note td {border-collapse:collapse;border-bottom:0px #ADAAAD solid;}

table.Table_H_K .c2-col1_number {width:15%;}
table.Table_H_K .c2-col2_number {width:85%;}

/*********************************** Table_HT 스타일 ************************************************/
table.Table_HT {width:100%;border-top:0px   #ADAAAD solid;border-bottom:0px #ADAAAD solid;border-collapse:collapse;table-layout:fixed;}
table.Table_HT td {border-bottom:0px #ADAAAD inset;padding:4px;}
table.Table_HT .c2-col1 {width:30%;}
table.Table_HT td .C_Image{width:100%; height:auto; margin-bottom: 2px;}

table.Table_HT .Table_Note td {border-collapse:collapse;border-bottom:0px #ADAAAD solid;}

table.Table_HT .c2-col1_number {width:15%;}
table.Table_HT .c2-col2_number {width:85%;}

/*********************************** Table 관련 스타일 ************************************************/
.Cell_Table_H {background-color:#666;}
.Cell_Table_H_K {background-color:#ddd;}
.Cell_TableHead-Fill {background-color:#666;}
.Cell_TableHead-Icon-Fill {background-color:#666;}
.Cell_TableHead-Fill {background-color:#666;}
.Cell_TableHead-Icon-Fill {background-color:#666;}
.Cell_TableHead-Empty {	background-color:#555;}
.Cell_TableHead-Fill-Border {background-color:#666; border-color:#ADAAAD;border-style:solid;border-width:1px;}
.Cell_TableHead-Empty-Border {	background-color:#555; border-color:#ADAAAD;border-style:solid;border-width:1px;}

.Cell_TableBody-Empty-Border {	border-color:#ADAAAD;border-style:solid;border-width:1px;}

.c3-col1 {width:20%;}
.c3-col2 {width:24%;}
.c3-col3 {width:56%;}

img[src$="M-note_gray.png"] { width: 30px !important; }
img[src$="M-soundout.png"] {display:block;width:57px;height:auto;margin-bottom:30px;}
img[src$="M-weee_phone.png"] {display:block;width:49px;height:auto;margin-bottom:30px;}
img[src$="M-weee_battery.png"] {display:block;width:53px;height:auto;margin-bottom:30px;}


/*********************************** 짤림방지 ************************************************/
.C_NoBreak {white-space: nowrap;}

/*********************************** Ita 국가규제 ************************************************/
img[src$="M-safety12.png"] { width: 30px !important; }
img[src$="M-safety3.png"] { width: 30px !important; }
img[src$="M-safety4.png"] { width: 30px !important; }
img[src$="M-safety5.png"] { width: 30px !important; }
img[src$="M-safety1.png"] { width: 30px !important; }
img[src$="M-safety14.png"] { width: 30px !important; }
img[src$="M-safety10.png"] { width: 30px !important; }
img[src$="M-safety6.png"] { width: 30px !important; }
img[src$="M-safety11.png"] { width: 30px !important; }
img[src$="M-safety7.png"] { width: 30px !important; }
img[src$="M-safety8.png"] { width: 30px !important; }
img[src$="M-safety13.png"] { width: 30px !important; }
img[src$="M-safety15.png"] { width: 30px !important; }
img[src$="M-safety16.png"] { width: 30px !important; }

/*********************************** Rus 국가규제 ************************************************/
img[src$="M-not_for_food.png"] { width: 100px !important; }
img[src$="M-recycle.png"] { width: 100px !important; }