html {
  height: 100%;
  overflow: hidden;
}

body {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0px;
}

body {
  font-family: 'Roboto';
  margin: 0px;
  position: relative;
}

.header-line {
  color: black;
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  margin: 32px 32px 0px 32px;
}

.content-line {
  color: black;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  line-height: 24px;
  margin: 16px 32px 0px 32px;
}

a:link {
  color: #4285f4;
}

.link-line {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin: 16px 32px 0px 32px;
}

.promo_icon {
  width: calc(100% - 26px);
  max-width: 334px;
  vertical-align: bottom;
  padding-top: 28px;
}

.icon_background {
  width: 100%;
  padding: 0px;
  background: #94d8e8;
}

.invisible {
  display:none;
}
