html {
  height: 100%;
  overflow: hidden;
}

body {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

body {
  font-family: 'Roboto';
  margin: 0px;
  position: relative;
}

.vertically-centered {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 12px 0px;
}

.header-line {
  color: black;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 40px 32px 0px 32px;
}

.promo_icon {
  width: calc(100% - 72px);
  max-width:288px
}

.invisible {
  display:none;
}
