@charset:"utf-16";

a, a:visited {
 color:black;
 text-decoration:underline;
 outline:none;
}

html
{
	-webkit-user-select:none;
}

body
{
	font-family:'newace_diotek';
	margin:0 0;
	padding:0;
	color:black;
	line-height: 1.5;
//	font-size:15px;
}

.sound
{
	display: none;
}

.speaker 
{
	display: none;
}

.speaker:active
{
	display: none;
}

.entry /* div */
{
}

.keyfield /* div */
{
	clear:both;
	padding-right: 10px;
	padding-bottom: 0px;
	min-height: 33px;
	color:RGB(232, 230, 228);
	background-color:#3b220d;
}

.freq /* span */
{
	font-size:1.4em;
}

.keyword /* span */
{
	clear:both;
	font-size:1.4em;
	font-weight:bold;
	word-wrap:break-word;
}

.pron /* span */
{
	font-size:1.0em;
	word-wrap:break-word;
}

.meanfield /* div */
{
	clear:both;
	padding-top: 5px;
	padding-right: 10px;
	word-wrap: normal;
}

.posp /* div */
{
	margin-bottom:0.62em;
}

.part /* span */
{
	font-size:1.3em;
	font-weight:bold;
}

.part2 /* span */
{
	font-size:1.2em;
	font-weight:bold;
}

.idiom_part /* span */
{
	font-weight:bold;
}

.pure, .idiom_pure /* span */
{
}

.pnum1 /* div */
{
}

.pnum1_no /* span */
{
}

.pnum2 /* div */
{
}

.pnum2_no /* span */
{
}

.dnum1 /* div */
{
	margin-bottom:0.62em;
	padding: 0.12em 0.25em 0.37em 0.25em;
}

.sense, .idiom_sense /* div */
{
	margin-left: 1.25em;
}

.dnum1_no, .idiom_dnum1_no /* span */
{
	font-weight:bold;
	margin-left: -1.25em;
	padding:0.12em;
}

.equiv, .idiom_equiv, .sub_equiv /* span */
{
}

.dnum2, .sub_dnum2 /* div */
{
	margin:0 0.12em 0.62em 1.25em;
}

.dnum2_no, .sub_dnum2_no /* span */
{
}

.syntax /* span */
{
	color:green;
}

.important-meaning /* span */
{
	color:#CD5B45;
	font-weight:bold;
}

.example, .sub_example, .idiom_example /* div */
{
	margin-left:1.25em;
}

.example_list /* div */
{
	padding-top: 5px;
}

.example_list .example
{
	margin-left: 0;
}

.ex_bullet, .sub_ex_bullet /* span */
{
	margin-right:0.6em;
	//margin-left:-1.25em;
	color:RGB(70, 70, 70);
	font-size:1.25em;
}

.idiom_ex_bullet  /* span */
{
	margin-right:0.5em;
	//margin-left:0.5em;
	color:RGB(70, 70, 70);
	font-size:1.25em;
}

.ex, idiom_ex, .sub_ex /* span */
{
}

.trans, .idiom_trans, .sub_trans /* span */
{
}

.ex_bullet:focus, .ex_bullet:active, 
.sub_ex_bullet:focus, .sub_ex_bullet:active, 
.idiom_ex_bullet:focus, .idiom_ex_bullet:active,
.idiom_tts_bullet:focus, .idiom_tts_bullet:active
{
    color:RGB(239, 115, 27);
}

.idiom /* div */
{
	margin: 0.25em 0;
	padding:0.12em 0.25em 0.37em 0.25em;
}

.save_idiom /* span */
{
//	margin-right:0.8em;
	font-size:1.25em;
	color:RGB(70, 70, 70);
	font-weight: normal;
	font-style: normal;
}

.save_idiom:focus, .save_idiom:active
{
    color:RGB(239, 115, 27);
}

.idiom_keyword /* span */
{
	font-weight:bold;
}

.idiom_dnum1 /* div */
{
}

.idiom_posp /* div */
{
}

.idiom_tts_bullet /* span */
{
    display: none;
}

.phonetic /* span */
{
}

.word_ref, .ref /* span */
{
// color:RGB(0, 97, 242);
// text-decoration:underline;
    border-style:solid;
    border-width:1px;
    border-color:black;
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
}

.note /* div */
{
	background-color:lightcyan;
	margin:0.25em 0.12em 0.25em 1.25em;
	padding:0.31em;
	font-size:90%;
}

.derivatives /* div */
{
}

.drv_keyword /* span */
{
	font-weight:bold;
}

.drv_part
{
	margin-left:0.25em;
}

.rf /* span */
{
	color:#CD5B45;
}

.hanja /* span */
{
}

.sub_entry /* div */
{
}

.sub_keyword /* span */
{
	color:RGB(0, 97, 242);
	font-weight:bold;
}

