<div id="conversation-footer" class="spacer" style="height: %spx;"></div>
<div id="initial-load-signal" class="%s"></div>
</body>
<script type="text/javascript" src="file:///android_asset/messageview/exec.js"></script>
</html>
