<div id="conversation-footer" class="spacer" style="height: %spx;"></div>
<div id="initial-load-signal" class="%s"></div>
</body>
<script type="text/javascript">
	var MSG_HIDE_ELIDED = '%s';
	var MSG_SHOW_ELIDED = '%s';
	var DOC_BASE_URI = '%s';
	var CONVERSATION_BASE_URI = '%s';
	var WIDE_VIEWPORT_WIDTH = %s;
	var WEBVIEW_WIDTH = %s;
	var ENABLE_CONTENT_READY = %s;
	var NORMALIZE_MESSAGE_WIDTHS = %s;
	var ENABLE_MUNGE_TABLES = %s;
	var ENABLE_MUNGE_IMAGES = %s;
	var RUNNING_KITKAT_OR_LATER = %s;
	var CHANGE_FONT_SIZE_BY_JAVASCRIPT = %s;
	var BASE_FONT_SIZE = %s;
	var IS_AUTOFIT = %s;
</script>
<script type="text/javascript" src="file:///android_asset/messageview/AutoFit.js"></script>
<script type="text/javascript" src="file:///android_asset/messageview/Selection.js"></script>
<script type="text/javascript" src="file:///android_asset/messageview/Controller.js"></script>
<script type="text/javascript" src="file:///android_asset/messageview/layout.js"></script>
<script type="text/javascript" src="file:///android_asset/messageview/exec.js"></script>
</html>
