<div id="%s" class="mail-message %s">
    <div class="mail-message-header spacer" style="height: %spx;"></div>
    <div id="MessageWebViewDiv" class="mail-message-content collapsible zoom-normal %s" style="display: %s; word-break:keep-all; word-wrap:break-word;">%s</div>
    <div class="mail-message-footer spacer collapsible" style="display: %s; height: %spx;"></div>
</div>
