/* Copyright 2011 Google Inc.  All Rights Reserved. */

/* Css declarations that always get applied to a book. Any styles that should
   be applied to content itself should target .gb-segment as the first rule
   in the selector instead of #gb-container, #gb-content, #gb-content2 or
   .gb-chapter, as those selectors will not match content in the paginator.
   Styles that apply to containers but not the content they wrap should not have
   .gb-segment in the rule. */

html, body, .gb-segment {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.gb-page {
    position: absolute;
}

.gb-page-container {
    position: absolute;
    overflow: hidden;
}

/* Keep this in sync with ForegroundColor in util_common.js and
   ReaderUtils.get(Background|Foreground)Color */
body.sepia-mode, body.sepia-mode * {
    background: #ece1ca !important;
    color: #645032 !important;
}

body.sepia-mode a:link {
    /* Try to use the webkit link color, otherwise falls back to blue. */
    color: blue !important;
    color: -webkit-link !important;
}

body.night-mode, body.night-mode * {
    background: #000 !important;
    color: #cccccc !important; /* @color/books_night_text */
}

body.night-mode a:link {
    color: #039be5 !important; /* @color/material_light_blue_600 */
}

body.footnote-night-mode, body.footnote-night-mode * {
    background: #212121 !important; /* @color/material_grey_900 */
    color: #cccccc !important; /* @color/books_night_text */
}

/* Make sure we have word wrap */
.gb-segment pre {
    white-space: pre-wrap !important;
}

/* Styles for the DOM elements created in javascript */
#gb-container {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

#gb-content2,
#gb-content {
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

#gb-content > .gb-chapter {
    border: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.gb-segment {
    word-wrap: break-word !important; /* Make sure long words get broken up rather than chopped.*/
}

/* TODO (jrochest) This fixes b/6393208, but may cause problems with svg elements that
 * set word-wrap to a value besides 'normal'. This case should be less common than
 * svg that assumes word-wrap: normal, which is the default value for word-wrap.
*/
.gb-segment svg {
    word-wrap: normal !important;
}

